.EightBall {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    background: radial-gradient(circle at 100px 100px, #00000000, #000)
}

.EightBall-message {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}